/************************** footer ****************************/
@media screen and (max-width: 970px) {
    .footer-min {
        margin: auto!important;
        text-align: center!important;
    }
    .footer-rgpd {
        width: auto!important;
        text-align: center!important;
    }
}
  
.footer-min a {
    text-decoration: none;
    color: gray;
}

.footer-min a:hover {
    color: white;
}

.footer-rgpd {
    margin: 0 auto!important;
}
/************************** footer ****************************/