.container-library {
    margin-top: 111px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}

.inner-wrapper {
    position: relative;
    min-height: 1200px;
    transition: transform 0.3s;
} 

.nav-library {
    min-height: 50px;
    margin-top: 56px;
    z-index: 2;
}

@media (max-width: 992px) {
    .container-library {
        margin-top: 330px;   
    }
    .nav-library {
        flex-direction: column;
        min-height: 250px;
    }
    .bloc-select-tutos, .bloc-search-bar, .search-bar {
        display: block;
        width: 100%!important;
    }
    .bloc-select-tutos {
        margin: 0!important;
    }
    .select-tutos {
        display: block;
        width: 100%;
        margin: 1% 0;
    }
}

@media (max-width: 768px) {
    .inner-sidebar {
        display: none!important;
    }
    .inner-main, .search-bar {
        left: 0!important; 
        width: 100%!important;
    }
}

.inner-main, .inner-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.inner-sidebar {
    left: 0;
    width: 235px;
    border-right: 1px solid #cbd5e0;
    background-color: #fff;
    z-index: 1;
}

.inner-main {
    right: 0;
    left: 235px;
}

.inner-main-footer, .inner-main-header, .inner-sidebar-footer, .inner-sidebar-header {
    height: 3.5rem;
    border-bottom: 1px solid #cbd5e0;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    flex-shrink: 0;
}

.inner-main-body, .inner-sidebar-body {
    padding: 1rem;
    overflow-y: auto;
    position: relative;
    flex: 1 1 auto;
}

.inner-main-body .sticky-top, .inner-sidebar-body .sticky-top {
    z-index: 999;
}

.inner-main-footer, .inner-main-header {
    background-color: #fff;
}

.inner-main-footer, .inner-sidebar-footer {
    border-top: 1px solid #cbd5e0;
    border-bottom: 0;
    height: auto;
    min-height: 3.5rem;
}

.nav .show>.nav-link.nav-link-faded, .nav-link.nav-link-faded.active, .nav-link.nav-link-faded:active, .nav-pills .nav-link.nav-link-faded.active, .navbar-nav .show>.nav-link.nav-link-faded {
    color: #3367b5;
    background-color: #c9d8f0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #467bcb;
}

.nav-link.has-icon {
    display: flex;
    align-items: center;
}

.nav-link.active {
    color: #467bcb;
}

.nav-pills .nav-link {
    border-radius: .25rem;
}

.nav-link {
    color: #4a5568;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.select-tutos {
    min-width: 47%;
    min-height: 45px!important;
    border-width: 1px!important;
    border-radius: 25px!important;
}

.bloc-search-bar {
    min-width: 40%;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 45px;
    border: 1px solid #4ab5c4;
    border-radius: 25px;
}

.search_input {
    width: auto;
    line-height: 20px;
    border: 0;
    outline: 0;
    color: black;
    background: none;
}

.search-bar:hover > .search_icon {
    border: 0.25px solid slategray;
    background: #0fcaf0af;
}

.search_icon {
    display: inline-block;
    margin-right: 4px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color:black;
    text-decoration:none;
}

.box-sising {
    box-sizing: content-box;
}
