@media screen and (max-width: 600px) {
    .section-register { 
        padding-bottom: 130px;
        margin-bottom: 20px;
    }
    .submit-register { 
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 991px) {
    .section-register { 
        padding-bottom: 65px;
        margin-bottom: 40px;
    }
    .submit-register { 
        margin-bottom: 70px;
    }
}

.section-register { 
    position: relative; 
    min-width: 100%;
    min-height: 100%;
    overflow: scroll;
    background-color: cornflowerblue;
}

.bg-section-register { 
    background-color: cornflowerblue;
    padding-bottom: 70px;
}

.register  {
    background-color: #c1def0;
}