@import url("home.css");
@import url("login.css");
@import url("register.css");
@import url("contact.css");
@import url("a-propos.css");
@import url("rgpd.css");
@import url("modal-cookies.css");
@import url("library.css");
@import url("page-books.css");
@import url("admin.css");

@font-face {
  font-family: "myVidaloka";
  src: local("../fonts/vidaloka/Vidaloka-Regular.otf") format("otf");
}

body {
  margin-top: 80px;
  height: max-content;
  overflow: scroll;
}

.nav-principal {
  margin-inline-end: 2vw;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  min-width: 30%;
  margin: 1% auto 3%;
  text-align: center;
}

.logout {
  display: flex;
  position: absolute;
  right: 2%;
  border: none;
  border-radius: 25px;
}

.logout input {
  border: 2.5px solid black;
  border-radius: 25px;
  background-color: transparent;
}
.logout input:hover {
  border-color: red;
}

.btn-deconnexion {
  fill: white;
}

.btn-deconnexion:hover {
  fill: red;
}

.btn-logout input[type="submit"], .icone-login {
  border-radius: 50%;
  margin-inline-start: 9px;
  border: 0px solid transparent;
  opacity: 0.5;
  vertical-align: middle;
}
.btn-logout {
  margin-inline-start: 1vw;
}

.btn-logout input[type="submit"] {
  width: 21px;
  height: 21px;
  background-image: url(../assets/svg/deconnexion.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}

.btn-logout input[type="submit"]:hover, .icone-login:hover {
  opacity: 1; 
}

.logout-subscriber {
  justify-content: flex-end;
  height: 50px;
  margin-top: 2%;
  border: none;
  border-radius: 25px;
}

.logout-subscriber input {
  border: 2.5px solid black;
  border-radius: 25px;
}
.logout-subscriber input:hover {
  border-color: red;
}


















